@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  overflow-x: hidden;
}
.sticky_header.header_search.bg-orange.py-3
  .flex.bg-white.rounded-full.lg\:w-4\/5 {
  margin-right: 22px;
}
button#headlessui-disclosure-button-\:r1\: {
  outline: 0 !important;
  box-shadow: unset !important;
}
.menu_mobile-view {
  background: black;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999;
}
.toggle_menu-mobile {
  z-index: 9999999;
  position: fixed;
  top: 19px;
  left: 19px;
}
body {
  font-family: "Roboto", sans-serif;
  background: #f3f4f6;
  overflow-x: hidden;
}

.cursor-pointer.relative.z-10.inline-flex.items-center.bg-gray-500.text-black.px-4.py-2.text-sm.font-semibold.text-white.focus\:z-20.focus-visible\:outline.focus-visible\:outline-2.focus-visible\:outline-offset-2.focus-visible\:outline-indigo-600 {
  background: white;
  color: black;
  border: 1px solid #f3e8e8;
}
span.absolute.inset-0 {
  position: relative;
  z-index: 99;
}
input {
  box-shadow: unset !important;
  outline: unset !important;
}
button.theme_btn:hover {
  background: #df4d04;
}

button.theme_btn {
  background: #1c52d7;
  transition: 0.4s;
}
.logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}

.logo img {
  height: 30px;
  width: auto;
  display: block;
}
a.btn_transparent {
  border: 1px solid #1c52d7 !important;
  color: #1c52d7;
  font-weight: 500;
}
section#login input {
  font-size: 15px !important;
}
.bg-orange {
  background: #1c52d7;
}
img.logo_nav {
  width: 212px;
  filter: brightness(0) invert(1);
}
img.cart_icons {
  width: 66px;
  filter: brightness(0) invert(1);
}

span.cart_item {
  background: #eab308;
  color: white;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_icons {
  font-size: 33px;
  color: white;
  background: unset !important;
  box-shadow: unset !important;
  border: unset !important;
  outline: unset !important;
}
span.rating_icons {
  color: #1c52d7;
}
svg.bi.bi-bag-plus {
  color: #1c52d7;
  font-weight: bold;
}
.category_title h2 {
  font-size: 25px;
  font-weight: 500;
  background: #1c52d7;
  color: white;
  padding: 7px 17px;
  line-height: 40px;
}
button.text-sm.text-blue-500.cursor-pointer {
  color: #eab308;
  padding: 0 10px 14px 5px;
}
.blue0 {
  background: #021460;
}
/* footer new start  */
.footer_logo-block img.img-fluid {
  width: 417px;
}
/* section.footer_new ,.footer_button{
    background: #070e20;
  } */
.footer_title-block h4 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
}
.footer_title-block p {
  font-weight: 500;
}
.social_icon ul li a {
}
.social_icon ul li a svg {
  width: 35px;
  height: 35px;
  line-height: 48px;
  display: block;
  text-align: center;
  font-size: 18px;
  margin-right: 17px;
  background-color: unset;
  /* border: 2px solid #6670898c; */
  border-radius: 50%;
}
.footer_contact a {
  font-weight: 500;
  border-bottom: 2px solid #0c0d0e;
}

.footer_num a {
  color: #1c52d7;
  font-size: 23px;
  font-weight: 700;
}
.footer_ul ul li a {
  margin-right: 37px;
}
.border_top {
  border-top: 1px solid rgb(100 105 118);
}
section.footer_new {
  margin-top: 85px;
  padding: 66px;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 55px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
  background: #021460;
  border-radius: 55px;
}

.slider-wrap {
  height: 490px;

  object-fit: cover;
}
.slider-container {
  position: relative;
}
.slider_right-img img {
  height: 239px;
}

.slider-image {
  width: 100%;
  position: absolute;
  transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
}

.visible_item {
  opacity: 1;
  z-index: 1;
}

.hidden_item {
  opacity: 0;
  z-index: 0;
}

.cart_profile-wrap {
  height: 55px;
  line-height: 64px;
  padding-top: 4px;
}
.bg-green {
  background: rgb(0 158 63);
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.sticky_header {
  transition: background-color 0.3s ease; /* Add smooth transition effect */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for better visibility */
  transition: top 0.3s ease, box-shadow 0.3s ease; /* Add smooth transitions for top and box-shadow */
}

.cart_scroll img {
  filter: brightness(0) invert(0);
}
.cart_scroll {
  position: absolute;
  top: -18px;
  left: 16px;
}
.cart_scroll span.cart_item {
  position: absolute;
  top: 4px;
  right: -12px;
}
.sticky_header .cart_scroll {
  opacity: 0;
}
.sticky .cart_scroll {
  opacity: 1;
}
svg.MuiSvgIcon-root {
  color: white;
  font-size: 32px;
  margin-left: 10px;
}
.sticky .cart_scroll svg.MuiSvgIcon-root {
  color: black;
  margin-top: 16px;
}
span.rating_icons svg {
  width: 20px;
  margin-bottom: 2px;
}
.sticky_header a {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}
.header_search {
  border-bottom: 1px solid #4d7df5a1;
}
h1 {
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 1.36em !important;
}
img.single_product {
  height: 257px;
}
.product_price p {
  margin-bottom: -4px;
  transform: translateY(-3px);
  line-height: 24px;
}
.cart_wrap svg.MuiSvgIcon-root {
  background: #1c52d7;
  margin-left: 0;
  padding: 5px;
  width: 40px;
  height: 40px;
}

.cart_wrap {
  position: absolute;
  right: -40px;
  top: 13px;
  opacity: 1;
  transition: 0.5s;
}
.single_product-wrap:hover .cart_wrap {
  position: absolute;
  right: 14px;
  top: 13px;
  opacity: 1;
}
.single_product-wrap {
  overflow: hidden;
}
.footer_logo-block img {
  filter: unset;
}
.relative.cursor-pointer.z-10.inline-flex.items-center.bg-indigo-600.text-white.px-4.py-2.text-sm.font-semibold.focus\:z-20.focus-visible\:outline.focus-visible\:outline-2.focus-visible\:outline-offset-2.focus-visible\:outline-indigo-600 {
  background: #eab308;
}
.relative.cursor-pointer.z-10.inline-flex.items-center.text-gray-400.px-4.py-2.text-sm.font-semibold.focus\:z-20.focus-visible\:outline.focus-visible\:outline-2.focus-visible\:outline-offset-2.focus-visible\:outline-indigo-600 {
  border: 1px solid #8080803d;
}
.border-0 {
  border: 0;
}

.flex-wrap svg.MuiSvgIcon-root {
  color: #e80505;
}

.single_product-right img {
  height: 236px;
  object-fit: cover;
  border: 0;
}
.border.single_product-right:last-child {
  margin-top: 12px;
}
.no-top-margin {
  margin-top: 0;
}
select.quantity_w {
  width: 62px;
  box-shadow: unset;
  outline: 0 !important;
}
@media (max-width: 640px) {
  a.font-medium.pr-8.text-white.transition-all.duration-300 {
    display: none;
  }

  div#headlessui-disclosure-panel-\:rf\: {
    background: black;
  }
  img.logo_nav {
    width: 182px;
    display: none;
  }

  button#headlessui-disclosure-button-\:r1\: {
    position: fixed;
    top: 17px;
    left: 11px;
  }
  svg.MuiSvgIcon-root {
    margin-left: 2px;
  }
  .slider-wrap,
  .col_height {
    height: 248px;
  }
  div#headlessui-disclosure-panel-\:r2\: {
    background: black;
  }
  section.product_b {
    padding: 100px 22px;
  }
  button.btn.bg-orange.w-full {
    padding: 6px;
    font-size: 14px;
  }
  img.single_product {
    height: 131px;
  }
  .cart_table img {
    height: 192px;
  }
  .mx-auto.max-w-7xl {
    padding: 0px 20px;
  }
  .px-0 {
    padding: 0 !important;
  }
  .toggle_btn-mobile {
    top: 19px;
    z-index: 9;
    outline: 0 !important;
    box-shadow: unset !important;
  }
  button#headlessui-disclosure-button-\:r3\: {
    border: 0;
    box-shadow: unset;
  }
  div#headlessui-disclosure-panel-\:r5\: {
    background: black;
    position: fixed;
    z-index: 9;
    width: 100%;
  }
  span.rating_icons svg {
    width: 17px;
    margin-bottom: 2px;
  }
  h1.filter_title {
    font-size: 20px !important;
  }
  svg.MuiSvgIcon-root {
    font-size: 22px;
    margin-left: 10px;
  }
  .sticky_header.header_search.bg-orange.py-3
    .flex.bg-white.rounded-full.lg\:w-4\/5 {
    margin-right: 4px;
    margin-left: 45px;
  }
  span.cart_item {
    width: 18px;
    line-height: 18px;

    height: 18px;
  }
  .mobile_menu-full {
    background: #1c52d7;
    position: fixed;
    width: 100%;
    z-index: 9;
    height: 100vh;
  }
  .breadcrumb_div {
    padding: 15px !important;
  }
  .cart_wrap {
    position: absolute;
    right: -40px;
    top: 7px;
    opacity: 1;
    transition: 0.5s;
  }
  .single_product-wrap:hover .cart_wrap {
    position: absolute;
    right: 7px;
    top: 7px;
    opacity: 1;
  }
  h2.cart_title {
    font-size: 27px;
  }
  .add_mobile {
    margin-top: 21px !important;
  }
  button#headlessui-disclosure-button-\:rb\: {
    border: 0;
    box-shadow: unset;
  }
  .footer_logo-block img {
    display: block;
  }
  section.footer_new {
    margin-top: 54px;
    padding: 16px;
    padding-top: 37px;
  }
  .footer_title-block h4 {
    margin-bottom: 0px;
  }
}
